<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Long</title>
</head>

<!-- css file -->
<link rel="stylesheet" href="/css/dashboard.css">

<!-- font awesome icon -->
<link rel="stylesheet"
    href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">>

<body>
    <div class="dashboards">
        <input type="checkbox" id="menu-toggle">
        <div class="sidebar">
            <div class="side-header">
                <h3> <img src="~/images/phone-icon3.png" alt="image" class="logo" id="logo"></h3>
            </div>

            <div class="side-content">
                <div class="profile">
                    <h4>WELCOME</h4>
                    <small>David</small>
                </div>

                <div class="side-menu">
                    <ul>
                        <li>
                            <a href="" class="active">
                                <span class="las la-home"></span>
                                <small>Dashboard</small>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="las la-shopping-bag"></span>
                                <small>Order</small>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="las la-phone"></span>
                                <small>Products</small>
                            </a>
                        </li>

                        <!-- <li>
                            <a href="">
                                <span class="las la-shopping-cart"></span>
                                <small>Orders</small>
                            </a>
                        </li> -->
                        <li>
                            <a href="">
                                <span class="las la-user"></span>
                                <small>Customer</small>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="main-content">

            <header>
                <div class="header-content">
                    <label for="menu-toggle">
                        <span class="las la-bars"></span>
                    </label>

                    <div class="header-menu">
                        <div class="user">
                          
                            <div class="bg-img" style="background-image:   url(~/~/images/1.jpeg)"></div>

                            <span class="las la-power-off"></span>
                            <span>Logout</span>
                        </div>
                    </div>
                </div>
            </header>


            <main>

                <div class="page-header">
                    <h1>Order</h1>
                </div>

                <div class="page-content">

                    <div class="analytics">

                        <div class="card">
                            <div class="card-head">
                                <h2>107,200</h2>
                                <span class="las la-user-friends"></span>
                            </div>
                            <div class="card-progress">
                                <small>User activity this month</small>
                                <div class="card-indicator">
                                    <div class="indicator one" style="width: 60%"></div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-head">
                                <h2>340,230</h2>
                                <span class="las la-eye"></span>
                            </div>
                            <div class="card-progress">
                                <small>Page views</small>
                                <div class="card-indicator">
                                    <div class="indicator two" style="width: 80%"></div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-head">
                                <h2>$653,200</h2>
                                <span class="las la-shopping-cart"></span>
                            </div>
                            <div class="card-progress">
                                <small>Monthly revenue growth</small>
                                <div class="card-indicator">
                                    <div class="indicator three" style="width: 65%"></div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-head">
                                <h2>47,500</h2>
                                <span class="las la-envelope"></span>
                            </div>
                            <div class="card-progress">
                                <small>New E-mails received</small>
                                <div class="card-indicator">
                                    <div class="indicator four" style="width: 90%"></div>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="records table-responsive">

                        <div class="record-header">
                            <div class="add">
                                <span>Entries</span>
                                <select name="" id="">
                                    <option value="">ID</option>
                                </select>
                                <button>Add record</button>
                            </div>

                            <div class="browse">
                                <input type="search" placeholder="Search" class="record-search">
                                <select name="" id="">
                                    <option value="">Status</option>
                                </select>
                            </div>
                        </div>

                        <div class="path">LIST ORDERS</b></div>
                        <div class="content-main">
                            <div id="profile-content-order">
                                <div>
                                    <div class="profile-order-title">
                                        <div class="profile-order-title-left">
                                            <div>Order creation date: 27-9-2022</div>
                                            <div>Order: <a href="#">#1</a></div>
                                        </div>
                                        <div class="profile-order-title-right">
                                            <span>Pending</span>
                                        </div>
                                    </div>
                                    <div class="profile-order-content">
                                        <div class="profile-order-content-col1">
                                            <a href="detail.html"><img src="~/images/1.jpeg" width="100%" /></a>
                                        </div>
                                        <div class="profile-order-content-col2">Product 12</div>
                                        <div class="profile-order-content-col3">Quantity: 1</div>
                                        <div class="profile-order-content-col4">1000 $</div>
                                    </div>
                                    <div class="profile-order-content">
                                        <div class="profile-order-content-col1">
                                            <a href="detail.html"><img src="~/images/1.jpeg" width="100%" /></a>
                                        </div>
                                        <div class="profile-order-content-col2">Product 1</div>
                                        <div class="profile-order-content-col3">Quantity: 2</div>
                                        <div class="profile-order-content-col4">2000 $</div>
                                    </div>

                                </div>
                                <div>
                                    <div class="profile-order-title">
                                        <div class="profile-order-title-left">
                                            <div>Order creation date: 25-9-2022</div>
                                            <div>Order: <a href="#">#2</a></div>
                                        </div>
                                        <div class="profile-order-title-right">
                                            <span style="color: blue;">Completed</span>
                                        </div>
                                    </div>
                                    <div class="profile-order-content">
                                        <div class="profile-order-content-col1">
                                            <a href="detail.html"><img src="~/images/1.jpeg" width="100%" /></a>
                                        </div>
                                        <div class="profile-order-content-col2">Product 12</div>
                                        <div class="profile-order-content-col3">Quantity: 1</div>
                                        <div class="profile-order-content-col4">1000 $</div>
                                    </div>
                                    <div class="profile-order-content">
                                        <div class="profile-order-content-col1">
                                            <a href="detail.html"><img src="~/images/1.jpeg" width="100%" /></a>
                                        </div>
                                        <div class="profile-order-content-col2">Product 1</div>
                                        <div class="profile-order-content-col3">Quantity: 2</div>
                                        <div class="profile-order-content-col4">2000 $</div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </main>

        </div>
    </div>
</body>

</html>