<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CodePen - Sign up / Login Form</title>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css">

</head>

<body>

        <div class="bodyforgot">
            <div class="mainforgot">
            <a asp-action="login" style="margin-left:10px;">Back to login</a>
                <div id="content">
                    <div id="form">
                        <h3 style="padding: 20px;">Forgot your account password?</h3>
                        <div style="padding: 0px 20px 10px;">
                            Please enter the email address registered with us to create a new password. We will send an
                            email to the email address provided and require verification before we can generate a new
                            password. Please enter your email below.
                            <span style="color: red;">*</span>
                        </div>
                        <form asp-action="forgot" method="post">
                            <input type="email" name="email" placeholder="Email" required="">
                            <button>Get Password</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </body>
</html>
